*, html, body {
  margin: 0px;
  padding: 0px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.nav {
    background-color: rgb(99, 168, 224);
    color:lightpink;
    display: flex;
    position: absolute;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.menu {
    margin-left: 45%;
}
.menu > ul > li {
    display: inline-block;
    margin-left: 40px;
}
.menu > ul > li > a {
    color:ivory;
    text-decoration: none;
}
.menu > ul > li a:hover {
    color:rgb(255, 103, 110);
    background-color: rgb(189, 4, 4);
    padding: 5px;
}
.banner {
    width: 100%;
}
.banner > img {
    width: 100%;
}
main {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 1rem;
    background-color: aliceblue;
    box-shadow: hotpink;
}
.parfume {
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
}
.parfume h2 {
    font-size: 24px;
    margin-bottom: 1rem;
    width: 100%;
}
.parfume-item {
    background-color; white-space: ;
    box-shadow:black
    margin : 0.5rem
    max-width : 300px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 1rem;
    border-radius: Spx;
    flex: 1;
    text-align: center;
    transition: transform 0.3s ease;
}
.parfume-item:hover {
    transform: scale(1.1);
}
.parfume-item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}
.parfume-item h3 {
    font-size: 1.5rem;
    margin: 0.5rem 0;
}
.parfume-item p {
    font-size: 1rem;
    margin: 0.5rem;
}
.parfume-item button {
    background-color: cornflowerblue;
    color:beige;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: Spx;
    transition: backround-color 0.3s ease;
}
.parfume-item button:hover {
    background-color: darkred;
    color: beige;
}